/* some style */

.wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 1fr 1fr;
}

.txt {
    border: 8px solid teal;
    font-size: 114px;
    text-align: center;
    padding: 2px;
    
}

.results {
    border: 8px solid teal;
    font-size: 72px;
    text-align: center;
    padding: 2px;
}
