/* some style */

.wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto 80% auto;
    grid-template-rows: 1fr 1fr auto;
}

.txt {
    border: 8px solid teal;
    font-size: 114px;
    text-align: center;
    padding: 2px;
    
}

.score {
    font-size: 72px;
    text-align: center;
    padding: 2px;
}

.results {
    font-size: 72px;
    text-align: center;
    padding: 2px;
}
